.background-dark-grey {
    background: color(rgb_dark_grey);
    color: color(rgb_white);
}

.background-dark {
    background: color(rgb_black);
    color: color(rgb_white);
}

.background-beige {
    background: color(rgb_beige);
}