.btn {
    display: inline-block;
    border: none;
    border-radius: 0.125rem;
    background-color: color(rgb_black);
    font-size: 1.125rem;
    font-family: 'Larsseit-Bold';
    color: color(rgb_white);
    line-height: 1.5rem;
    padding: 0.75rem 1.25rem;

    &:hover {
        cursor: pointer;
    }

    &.btn-sm {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    &.btn-white {
        background-color: color(rgb_white);
        color: color(rgb_black);
    }

    @include breakpoint-down(mobile) {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}