$img-src-base: '../img/';
$icon-src-base: '../icons/';

// Animations 
$opacity-hover-value: 0.5;
$animation-properties: 0.1s ease;
$text-hover-transition: color $animation-properties;
$opacity-hover-transition: opacity $animation-properties;
$border-focus-transition: border $animation-properties;

// Grid
$grid-outer-spacing-desktop-x: 32px; // Grid spacing will be added
$grid-spacing: 16px;
$grid-columns-desktop: 12;
$grid-columns-tablet: 8;
$grid-columns-mobile: 4;
$grid: (
    desktop: 1152px,
    mobile: 520px
);

// View
$navbar-height: 5rem;

// Colors
$rgb-colors: (
    rgb_white: rgb(255,255,255),
    rgb_beige: rgb(246,245,242),
    rgb_light_grey: rgb(232,230,228),
    rgb_grey: rgb(136,136,136),
    rgb_dark_grey: rgb(51,51,51),
    rgb_black: rgb(34,34,34),
    rgb_blue: rgb(0,173,197),
    rgb_dark_orange: rgb(219,140,16),
    rgb_orange: rgb(243,156,18)
);

@function color($key) {
    @if (map-has-key($rgb-colors, $key)) {
        @return map-get($rgb-colors, $key);
    }

    @warn "Unknown `#{$key}` in $rgb-colors";
    @return null;
}

// Spacing
$spacing-sizes: (
    0: 0,
    8: 0.5rem,
    16: 1rem,
    24: 1.5rem,
    28: 1.75rem,
    32: 2rem,
    40: 2.5rem,
    48: 3rem,
    56: 3.5rem,
    64: 4rem,
    72: 4.5rem,
    80: 5rem,
    128: 8rem,
    144: 9rem,
    176: 11rem
);