// Grid
$grid-container-l: 1280px;
$grid-container-m: 980px;
$grid-container-s: 780px;

// View
$navbar-height: 5em;

// Breakpoints
$breakpoint-grid-l: $grid-container-l;
$breakpoint-grid-m: $grid-container-m + 48;
$breakpoint-grid-s: $grid-container-s + 48;
$breakpoint-tablet: 880px + 48;
$breakpoint-mobile: 768px;

// Colors
$white: #FFFFFF;
$black: #000000;
$blue: #0055FF;
$red: #FF0000;
$dark-grey: #333333;
$grey: #777777;
$light-grey: #999999;
$lighter-grey: #BBBBBB;
$border-grey: #E4E4E4;
$background-grey: #F6F7F8;
$input-border: #DDDDDD;