@import './typography';
@import './variables';
@import './mixins';

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: 'Larsseit-Regular';
}

.nativedsd-body {
    display: flex;
    flex-direction: column;
}

* div {
    box-sizing: border-box;
}

input:active {
    outline: none;
}

// Elements
@import './elements/button';

// Common components
@import './components/grid';
@import './components/navbar';
@import './components/navigation';
@import './components/navigation-search';
@import './components/footer';
