@import './typography';
@import './variables';
@import './mixins';

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: 'Larsseit-Regular';
}

.nativedsd-body {
    display: flex;
    flex-direction: column;
}

* div {
    box-sizing: border-box;
}

input:active {
    outline: none;
}

img {
    width: 100%;
    height: auto;

    @include breakpoint-up(desktop) {
        border-radius: 2px;
    }
}

// Elements
@import './elements/align';
@import './elements/background';
@import './elements/button';
@import './elements/heading';
@import './elements/input';
@import './elements/links';
@import './elements/paragraphs';
@import './elements/spacers';

// Common components
@import './components/grid';
@import './components/navbar';
@import './components/navigation';
@import './components/navigation-search';
@import './components/footer';
@import './components/post-meta';
@import './components/subscribe';
@import './components/intro';
@import './components/pagination';

// Articles
@import './components/article-hero';
@import './components/article';
@import './components/highlighted-articles';

// Music reviews
@import './components/music-review';

// Recordings
@import './components/recording-hero';
@import './components/recording';

// Hardware updates
@import './components/hardware-update-hero';

// View components
@import './components/latest-articles';
@import './components/news';
@import './components/news-intro';
