.album-promotion {
    display: flex;
    align-items: flex-start;
    
    .link-wrapper {
        width: 160px;
        height: auto;
        margin-right: 2rem;

        @include breakpoint-down(mobile) {
            width: 80px;
            margin-right: 1rem;
        }
    }

    p.paragraph {
        margin: 0 0 0.5rem;
    }

    @include breakpoint-down(mobile) {
        justify-content: space-between;

        .link-wrapper {
            order: 2;
            margin-right: 0;
        }

        .album-promotion-text {
            order: 1;   
        }
    }
}