.author {
    display: flex;

    .avatar {
        font-size: 3rem;
        margin-right: 1rem;
    }

    .name {
        font-family: 'Larsseit-Medium';
        font-size: 1.125rem;
        line-height: 1.5em;
        margin: 0;
        display: flex;
    }

    .function {
        font-family: 'Larsseit-Regular';
        display: flex;
    }

    @include breakpoint-down(mobile) {
        .avatar {
            font-size: 2.5rem;
        }

        .name {
            font-size: 1rem;
        }

        .function {
            font-size: 0.875rem;
        }
    }
}