.nativedsd-footer {
    font-size: .875rem;

    .nativedsd-grid-container-m {
        align-items: center;
    }
}

.nativedsd-footer-nav-item {
    padding: 0 1.25rem;
    color: color(rgb_white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.15s ease-out;
}
