.hero {
    &.align-image-right {
        @include breakpoint-up(desktop) {
            .hero-image {
                order: 2;
            }

            .hero-text {
                order: 1;
            }
        }
    }

    @include breakpoint-down(desktop) {
        .hero-image {
            margin-bottom: 2rem;
        }
    }

    @include breakpoint-down(mobile) {
        .hero-image {
            margin-bottom: 1rem;
        }
    }
}