.highlighted-articles {
    
    @include breakpoint-between(desktop, mobile) {
        .highlighted-article-wrapper:last-child {
            display: none;
        }
    }

    @include breakpoint-down(mobile) {
        .highlighted-article-wrapper {
            margin-bottom: 1.5rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}