.intro {
    text-align: center;
    justify-content: center;

    h1.styled {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .paragraph.styled {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}