$latest-article-tablet-offset: $grid-spacing * 2;

.latest-articles {
    .background {
        background-image: url($img-src-base + 'background-latest-articles.svg');
        background-position: top 80px left;
    }

    .background.hide-tablet {
        top: -14.5rem;
        height: calc(100% + 13.5rem);
        width: calc(50% + 10.5rem);
    }

    .background.show-tablet {
        top: -3rem;
        right: -2rem;
        height: calc(100% + 3rem);
        width: calc(50% + 2rem);

        @include breakpoint-down(mobile) {
            height: 13rem;
            width: 25%;
            right: 0;
            top: -2rem;
        }
    }

    .col-8.col-md-8 {
        position: relative; // For mobile background
    }

    .show-tablet {
        display: none;
    }

    @include breakpoint-down(desktop) {
        .hide-tablet {
            display: none;
        }

        .show-tablet {
            display: block;
        }
    }

    @include breakpoint-between(desktop, mobile) {
        .spacer-border:nth-child(3),
        .spacer-border:nth-child(4) {
            border-bottom: 0;
        }

        .latest-articles-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -$grid-spacing;
            margin-right: -$grid-spacing;
            
            .spacer-border {
                margin: 0 $grid-spacing;
                width: calc(50% - #{$latest-article-tablet-offset});
            }
        }
    }
}