$latest-article-tablet-offset: $grid-spacing * 2;

.latest-articles {
    @media only screen and (max-width: map-get($grid, desktop) + $breakpoint-spacing) and (min-width: map-get($grid, mobile) + $breakpoint-spacing) {
        .spacer-border:nth-child(3),
        .spacer-border:nth-child(4) {
            border-bottom: 0;
        }

        .latest-articles-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -$grid-spacing;
            margin-right: -$grid-spacing;
            
            .spacer-border {
                margin: 0 $grid-spacing;
                width: calc(50% - #{$latest-article-tablet-offset});
            }
        }
    }
}