.music-reviews {
    .row {
        justify-content: space-between;
    }

    .spacer-border:first-child {
        padding-top: 0;
    }

    .music-reviews-list {
        order: 1;
    }
    
    .music-reviews-highlight {
        order: 2;
    }

    .background {
        width: calc(50% - 11rem);
        height: 30rem;

        @include breakpoint-down(desktop) {
            top: 7.5rem;
            width: calc(50% + 15rem);
            height: 21.5rem;
        }

        @include breakpoint-down(mobile) {
            display: none;
        }
    }

    @include breakpoint-down(desktop) {
        .tablet-hidden {
            display: none;
        }

        &.highlight-right {
            .music-reviews-list {
                order: 2;
            }
            
            .music-reviews-highlight {
                order: 1;
            }
        }
    }
}

.music-review-small {
    display: flex;

    .link-wrapper {
        width: 160px;
        margin-right: 2rem;

        img {
            align-self: flex-start;
        }
    }

    .link.category {
        margin-bottom: 0;
    }

    @each $heading, $size in $headings {
        #{$heading} {
            margin: 0;
        }
    }

    @include breakpoint-down(mobile) {
        .link-wrapper{
            width: 80px;
        }
        
        .paragraph {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}

.music-review-medium {
    margin-bottom: 3rem;

    @include breakpoint-up(mobile) {
        .post-meta {
            display: none;
        }
    }
}

.music-review-large {
    @include breakpoint-between(desktop, mobile) {
        max-width: 320px;
        margin: 0 auto;

        h1 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    @include breakpoint-down(mobile) {
        h1 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}