
$search-spacing: 1rem;

.search {
    display: flex;
    flex: 0 0 auto;
    order: 2;
    align-items: center;
    padding: 0 $search-spacing;
    width: 16px;
    overflow: hidden;
    transition: width 0.15s ease-out;

    @include breakpoint-down(desktop) {
        order: 1;
        transition: none;
    }

    button {
        border: none;
        background: none;
        padding: 0;
        transition: $opacity-hover-transition;

        &:hover {
            opacity: $opacity-hover-value;
            cursor: pointer;
        }
    }

    .search-icon-open,
    .search-icon-close {
        display: inline-block;
        margin-top: -1px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .search-icon-open {
        width: 16px;
        height: 16px;
        background-image: url($icon-src-base + 'magnifying-glass.svg');
    }

    .search-icon-close {
        width: 14px;
        height: 14px;
        display: none;
        margin-left: auto;
        background-image: url($icon-src-base + 'cross.svg');

        .isSearchVisible & {
            display: block;
        }
    }

    input.input {
        display: none;
        flex: 1 1 auto;
        margin-left: $search-spacing;
        margin-right: $search-spacing;

        .isSearchVisible & {
            display: block;
        }

        @include breakpoint-down(desktop) {
            border-width: 0;
            padding: 0;
            margin-left: $search-spacing * 2;
            line-height: 1.5rem;
        }
    }
}