.news-intro {
    .background {
        @include background-under-navbar(false);
        width: calc(50% + 10.5rem);
        height: calc(100% - 4rem);
        background-image: url($img-src-base + 'background-news-intro.svg');
        background-position-y: center;
        background-position-x: right;

        @include breakpoint-down(desktop) {
            background-image: none;
            width: 50%;
        }

        @include breakpoint-down(mobile) {
            width: 25%;
        }
    }
}