.track-scroll-progress-bar {
    width: 0;
    height: 0.25rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: color(rgb_orange);
    transition: width 0.1s linear;
}